@charset "UTF-8";

@font-face {
    font-family: Cordel;
    src: url(fontes/EldesCordel-Demo.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


:root{
    --font01: 'Sriracha', cursive;
    --fonte02:'Passion One', cursive;
    --fonte03: 'Verdana', Helvetica, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100%vh;
    background-color: darkgray;
    font-family: var(--font01);
}

header{
    color: white;
    background-color: black;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: Cordel, Arial, Helvetica, sans-serif;
    font-size: 8vw;
    
}
header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}
section.normal{
    background-color: gray;
}

section.imagem{
    background-color: yellowgreen;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.247);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte03);
}